target/classes/application.properties
target/classes/diagramabancodados.jpg
target/classes/com/aluraone/forum/ForumApplication.class
target/classes/com/aluraone/forum/config/CorsConfiguration.class
target/classes/com/aluraone/forum/config/SecurityConfig.class
target/classes/com/aluraone/forum/controller/AutenticacaoController.class
target/classes/com/aluraone/forum/controller/CursoController.class
target/classes/com/aluraone/forum/controller/TopicoController.class
target/classes/com/aluraone/forum/domain/curso/Curso.class
target/classes/com/aluraone/forum/domain/curso/CursoRepository.class
target/classes/com/aluraone/forum/domain/curso/DadosCursoDto.class
target/classes/com/aluraone/forum/domain/curso/DadosListagemCursoDto.class
target/classes/com/aluraone/forum/domain/topico/DadosListagemTopicoDto.class
target/classes/com/aluraone/forum/domain/topico/DadosTopicoDto.class
target/classes/com/aluraone/forum/domain/topico/Topico.class
target/classes/com/aluraone/forum/domain/topico/TopicoRepository.class
target/classes/com/aluraone/forum/domain/usuario/AutenticacaoService.class
target/classes/com/aluraone/forum/domain/usuario/DadosAutenticacaoDto.class
target/classes/com/aluraone/forum/domain/usuario/Usuario.class
target/classes/com/aluraone/forum/domain/usuario/UsuarioRepository.class
target/classes/com/aluraone/forum/infra/exceptions/TrataErros.class
target/classes/com/aluraone/forum/infra/exceptions/TrataErros$DadosErroValidacao.class
target/classes/com/aluraone/forum/infra/security/SecurityConfigurations.class
target/classes/com/aluraone/forum/infra/security/TokenService.class
target/classes/db/migration/create-table-usuarios.sql
target/test-classes/com/aluraone/forumHub/ForumApplicationTests.class
